:root {
	--primary: #08203e;
	--seconday: #557c93;
	--text-color: #ffff;
}

html,
body {
	font-size: 16px;
	color: var(--text-color);
	background-color: var(--primary);
}

body * {
	z-index: 20;
}

/* * {
	border: #000 1px solid;
} */

a {
	color: var(--text-color);
	text-decoration: none;
}

section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* Nav Bar */

.nav-links {
	display: inline;
	border-right: 1px #ffff solid;
}

.nav-links a {
	margin: 0 16px;
	border-radius: 2px;
	padding: 4px 8px;
}
.nav-links a:hover {
	background-color: var(--seconday);
}

.nav-icons {
	display: inline;
}

.nav-icons a {
	margin: 0 16px;
	font-size: 20px;
}

.nav-icons a:hover {
	color: var(--seconday);
}

/* Hero Section */

#torch {
	width: 250px;
	height: 250px;
	background: radial-gradient(circle, #1a2e4f -52%, transparent 68%, var(--primary) 15%);
	position: absolute;
	border-radius: 50%;
	z-index: 10;
}

.section-1 {
	height: 90vh;
	display: flex;
	align-items: center;
	position: relative;
}


p.intro {
	width: 50%;
	padding-top: 1rem;
}


@media screen and (max-width: 768px) {
}